#urlbar-container {
	--urlbar-container-height: 44px !important;
}

#urlbar {
	--urlbar-height: 36px !important;
	--urlbar-toolbar-height: 44px !important;
} /* remove everything above here to support “Compact mode” */

/* Title bar */
/*************/
.titlebar-buttonbox,
.titlebar-spacer {
	display: none !important;
}

/* Tab bar */
/***********/
#navigator-toolbox {
	border: 0px !important;
}

#TabsToolbar {
	margin-left: calc(20vw + 5px) !important;
	margin-right: calc(39px + 39px) !important;
	z-index: 2;
	position: relative;
}

/* Nav bar*/
/**********/
#nav-bar {
	background: transparent !important;
	margin-top: -44px !important;   /* change to -36px when “Compact mode” is enabled */
}

/* URL bar */
/***********/
#urlbar-container {
	min-width: 20vw !important;
	max-width: 20vw !important;
}

#back-button,
#forward-button,
#tracking-protection-icon-container,
#identity-box,
#page-action-buttons,
#firefox-view-button,
#alltabs-button {
	display: none !important;
}

#urlbar[breakout][breakout-extend] #page-action-buttons {
	display: -moz-box !important;
}

.urlbar-input-box {
	padding-left: 5px;
}

#urlbar {
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
}

#urlbar[breakout][breakout-extend] {
	width: 500px !important;
	min-width: 50vw !important;
	max-width: 100vw !important;
}

#nav-bar-overflow-button {
	padding: 0 !important;
	z-index: 9;
}

#tabbrowser-tabs {
	border-inline-start: none !important;
}

/* Further opinionated customizations */
/**************************************/

/* Increase tab border radius */
.tab-background {
	--tab-border-radius: 8px !important;
}

/* no border or background in urlbar… */
#urlbar-background {
	background-color: transparent !important;
	border: none !important;
	/* Match tabs border radius */
	--toolbarbutton-border-radius: 8px !important;
}

/* …but not when it is open */
#urlbar[breakout][breakout-extend] #urlbar-background {
	background-color: Field !important;
	/* nicer border-radius */
	border-radius: 10px 0 10px 0 !important;
}
